
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    background-color: #f8f9fa;
}


.container {
    display: grid;
    justify-content: center;
    align-items: center;
}


header {
    background: linear-gradient(135deg, #0062cc, #0056b3);
    color: white;
    padding: 10px 0;
    text-align: center;
    position: relative; /* Para que el botón se posicione en relacisón con el header */
}

header h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

/* Botón posicionado en la esquina superior derecha */
header .cta-button {
    position: absolute;
    top: 20px; /* Ajusta la distancia desde la parte superior */
    right: 20px; /* Ajusta la distancia desde el lado derecho */
    padding: 10px 20px;
    background-color: #f8f9fa;
    color: #0062cc;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.3s ease;
}

header .cta-button:hover {
    background-color: #0056b3;
    color: white;
}



.search-section {
    background-color: #ffffff;
    padding: 50px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: -40px;
}

.search-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.search-section form {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.search-section input {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    width: 250px;
    max-width: 100%;
}

.search-section button {
    padding: 15px 30px;
    background-color: #0062cc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-section button:hover {
    background-color: #0056b3;
}


.categories-section {
    background-color: #f1f3f5;
    padding: 40px 0;
}

.categories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
}

.category {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 22%;
    min-width: 250px;
    transition: transform 0.3s ease;
}

.category h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.category p {
    font-size: 1rem;
    color: #666;
}

.category:hover {
    transform: translateY(-10px);
}

@media (max-width: 768px) {
    .category {
        max-width: 45%;
    }
}

@media (max-width: 480px) {
    .category {
        max-width: 100%;
    }
}

/* Call to Action Section */
.cta-section {
    background-color: #0062cc;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.cta-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.cta-section p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.cta-section .cta-button {
    padding: 15px 30px;
    background-color: #f8f9fa;
    color: #0062cc;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.3s ease;

}

.cta-section .cta-button:hover {
    background-color: #0056b3;
    color: white;
}

/* Footer */
footer {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer p {
    font-size: 1rem;
    margin-bottom: 10px;
}

footer a {
    color: #f8f9fa;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #0062cc;
}

/* Responsividad */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.5rem;
    }

    .search-section h2 {
        font-size: 1.8rem;
    }

    .cta-section h2 {
        font-size: 1.8rem;
    }
}

