/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fuentes y fondo */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura completa de la pantalla */
}

/* Contenedor principal */
.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%; /* Asegura que sea responsivo */
}

/* Estilo de encabezado */
.login-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.login-section p {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

/* Estilo del formulario */
.login-section form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-section input,
.login-section select {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.login-section button {
    padding: 12px;
    background-color: #0062cc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-section button:hover {
    background-color: #0056b3;
}

.login-section a {
    color: #0062cc;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.login-section a:hover {
    color: #0056b3;
}
